* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Baloo Bhai", cursive;
}

nav {
  background: rgb(64, 64, 66);
  height: 70px;
  width: 100%;
}
.logo {
  color: white;
  font-size: 35px;
  margin: 0px 20px;
  line-height: 65px;
  text-transform: uppercase;
  font-family: "Baloo Bhai", cursive;
}

nav ul {
  float: right;
  margin-right: 30px;
  margin-top: 27px;
}

nav ul li {
  display: inline-block;
  line-height: 10px;
  margin: 2px 10px;
}

nav li a {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 3px 5px;
  text-decoration: none;
  font-family: "Baloo Bhai", cursive;
}

a.active,
a:hover {
  background-color: rgb(5, 5, 5);
  transition: 0.5s;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 3px 150px;
  height: 470px;
  justify-content: center;
  align-items: center;
}

.container::before {
  content: "";
  background: url("/banking.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 92%;
  width: 100%;
  z-index: -1;
  opacity: 0.87;
}
.container h1 {
  font-size: 2.8rem;
  font-weight: bold;
  color: rgb(142 12 185);
  text-align: center;
  font-family: Roboto, sans-serif;
  padding: 14px 10px;
}
.container p {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(82, 6, 6);
  text-align: center;
  font-size: 1.2rem;
  font-family: Roboto, sans-serif;
}

.btn_getstarted {
  margin: 18px 34px;
  padding: 12px 24px;
  border: 2px solid black;
  border-radius: 52px;
  color: white;
  background-color: black;
  font-family: Roboto, sans-serif;
  text-decoration: none;
}

.btn_getstarted:hover {
  color: black;
  background-color: blueviolet;
  cursor: pointer;
}
footer {
  background-color: black;
  color: white;
  padding: 24px 22px;
  text-align: center;
  position: relative;
  margin: 110px 0px;
  font-weight: bold;
  position: sticky;
}
